# Directories
.vscode/
tracks/
wind/
multipliers/
exposure/
vulnerability/
impact/
hazard/
data/
figures/
scripts/.Rhistory
.ipynb_checkpoints/


# Log files
*.log

# PBS job files
**/*.o[0-9]*
**/*.e[0-9]*

# emacs backup files
*.ini~
*.sh~
*.rst~ 


*.pyc
*.pyd
swhaq.code-workspace
