# Directories
.vscode/
tracks/
wind/
multipliers/
exposure/
vulnerability/
impact/


# Log files
*.log

# PBS job files
**/*.o[0-9*]
**/*.e[0-9*]

# emacs backup files
*.ini~
*.sh~
*.rst~ 


*.pyc
*.pyd
